#Mainsection.Mainsection {
  color: white;
  width: 80%;
  margin: auto;
  display: flex;
  gap: 35px;
 
  .mainsection-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    .mainsection-left-first{
        color:gray;
        font-size: 22px;
    }
    .mainsection-left-second{
        height: 100%;
        width: 3px;
    }
    .mainsection-left-four{
        background: linear-gradient(#7C72FF, #2DA44E 80%, #3FB950);
        width: 3px;
        height: 100%;
    

    }

  }
  .mainsection-right{
    display: grid;
    gap: 100px;
    .mainsection-top{
        h1{
            font-size: 100px;
            font-weight: 500;
        }
       
    
      }
      .mainsection-mid{
        display: flex;
        gap: 15px;
        align-items: center;
        .signup{
            width: max-content;
            border-radius: 8px;
            input{
                padding: 15px;
                min-width: 270px;
                border: none;
                // border-radius: 8px;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                font-size: 20px;
            }
            button{
                padding: 15px 20px;
                border: none;
                background: linear-gradient(180deg, rgba(183, 52, 179, 0.15) 0%, rgba(164, 46, 156, 0) 100%),#6e40c9 ;
                color: white;
                font-weight: bold;
                // border-radius: 8px;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                font-size: 20px;
                cursor: pointer;
            }
        }
        .start{
            padding: 15px 20px;
            // border: 1px solid green;
            border-radius: 8px;
            box-shadow: #bc8cff 0 0 0 1px inset;
            cursor: pointer;
            i{
                margin-left: 10px;
            }
        }
    
      }
      .mainsection-bottom{
        display: grid;
        gap: 15px;
             
        .arrow-png{
            background: #00a6ed;
            color: white;
            padding: 4px 10px;
            font-size: 15px;
            border-radius: 8px;
            font-weight: 900;
        }
        h2{
            font-size: 20px;
            color: #57606a;
            margin-bottom: 20px;
        }
        .brands{
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: space-between;
            img{
                height: 35px;
            }
        }
      }
  }
  h2{
    font-weight: 500;
    color: #57606a;
}
 
}
