#GithubIssue.GithubIssue {
  margin-top: 450px;
  color: white;
  position: relative;
  .container {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .GithubIssue-child {
        margin-left: 100px;
      width: 35%;
      h2 {
        font-size: 24px;
        margin-bottom: 20px;
        span {
          color: #7e8590;
          margin-left: 10px;
        }
      }
      h3 {
        font-size: 20px;
      }
    }
    .did-you-know{
        margin-top: 80px;
        display: flex;
        align-items: center;
        gap: 15px;
        span{
            border: 1px solid #f778ba;;
            padding: 4px 30px;
            border-radius: 9999px;
            font-size: 12px;
            color: #f778ba;
        }
        h1{
            font-size: 80px;
            color: #f778ba;
            font-weight: 500;
        }
        h2{
            font-weight: 500;
            font-size: 24px;
        }
    }
  }
  .card-absolute{
    position: absolute;
    top: -300px;
    right: 100px;
    img{
        width: 600px;
        height: 600px;
        object-fit: contain;
    }
  }
}
